.content {
  width: 85%;
  min-height: 750px;
  min-width: 600px;
  background-color: $secondary-color;
  font-size: 1rem; // increase content div font size
  line-height: 1 px; // set content div line height

  > * {
    padding-left: 30px;
  }

  p {
    width: 55%;
    min-width: 550px;
  }

  img, video {
    height: 350px;
    width: 550px;
    margin-bottom: 30px;
  }

  ul {
    list-style-type: square;
    list-style-position: inside;
  }

  a:link {
    color: $primary-color;
    text-decoration: underline;
  }

  a:visited {
    color: $primary-color;
    text-decoration: underline;
  }


}